:root {
  --primary-color: #0099ff;
  --background-color: #11131b;
  --text-color: #c7d1d8;
  --border-color: #1c1e26;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #444a5f;
  border-radius: 25px;
}

body {
  background-color: var(--background-color);
  height: 100vh;
}

svg {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: fill 0.3s ease;
  fill: #c7d1d8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  gap: 1rem;
  background-color: var(--background-color);

  svg {
    width: 1rem;
    height: 1rem;
    margin: 7px;
    cursor: pointer;
    transition: fill 0.3s ease;
    fill: #c7d1d8;
  }

  svg:hover {
    fill: var(--primary-color);
  }

  svg:active {
    transform: scale(0.9);
    fill: var(--primary-color);
  }

  svg:focus {
    fill: var(--primary-color);
    outline: 2px solidvar(--primary-color);
    outline-offset: 2px;
  }

  svg:focus:not(:focus-visible) {
    outline: none;
  }

  svg:focus-visible {
    outline: 2px solidvar(--primary-color);
    outline-offset: 2px;
  }

  svg:focus-visible:hover {
    fill: var(--primary-color);
  }
}

.profile-container:not(:first-child) {
  margin: 0px 40px 0px 40px;
}

.profile-cover {
  width: 100%;
  height: 200px;
  background-color: #323641;
  background-image: url("assets/web-banner.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.profile-picture {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  background-color: #3a3f4b;
  padding: 3px;
  position: absolute;
  transform: translateY(-50%) translateX(20px);

  div {
    background: linear-gradient(to bottom right, #0099ff, #6610f2);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
  }
}

.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-top: 6rem;
  position: relative;
}

.profile-content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.profile-text {
  grid-column: span 3;
  padding-left: 1rem;
}

.profile-bio {
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.profile-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
  padding-right: 1rem;
}

.profile-edit {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #2f364993;
  padding: 0.3rem 0.5rem;
}

.profile-details {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #2f364993;
  padding: 0.3rem 0.5rem;
}

.profile-edit:hover {
  color: #fff;
}

.profile-edit:active {
  transform: scale(0.9);
}

.profile-edit:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.profile-edit:focus:not(:focus-visible) {
  outline: none;
}

.profile-edit:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.profile-details:hover {
  color: #fff;
}

.profile-details:active {
  transform: scale(0.9);
}

.profile-details:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.profile-details:focus:not(:focus-visible) {
  outline: none;
}

.profile-details:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.profile-sections-container {
  max-height: 370px;
  height: 370px;
  border-top: 1px solid rgba(240, 248, 255, 0.111);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
}

.profile-sections-container::after {
  content: "";
  display: block;
  clear: both;
}

.profile-sections-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: space-evenly;
  align-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;

  button {
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    background-color: #2f364969;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0.3rem 2rem;
    user-select: none;
  }

  button:hover {
    color: var(--primary-color);
    background-color: #2f3649e7;
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    color: var(--primary-color);
    background-color: #2f3649e7;
  }
}

.profile-posts {
  color: var(--text-color);
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;

  form {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
  .myPosts-container {
    width: 50%;
    max-width: 50%;
    height: 390px;
    max-height: 400px;
    box-sizing: border-box;
    overflow-y: scroll;
    .post-heading-title {
      margin: 0%;
      }
    .posts-items{
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .post {
      background-color: #3a3f4ba1;
      border-radius: 10px;
      padding: 10px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      overflow: hidden;
      max-width: 100%;
      box-sizing: border-box;
      word-break: break-word;
      overflow-wrap: break-word;
      height: 70px;
      max-height: 90px;
      overflow-y: auto;
      .thumbnail {
        height: 100%;
        background-color: #242935;
        border-radius: 5px;
        aspect-ratio: 1 / 1;
      }
      .title {
        font-weight: 600;
        font-size: 1rem;
        text-transform: capitalize;
      }
      .content {
        font-size: 0.8rem;
        word-break: break-word;
        overflow-wrap: break-word;
        max-width: 100%;
        padding-bottom: 5px;
      }
      .post-titleANDtext {
        width: 100%;
        min-width: 0;
        display: grid;
        align-content: space-between;
        justify-content: space-between;
        overflow: hidden;
        margin-top: -0.2rem;
      }
      svg {
        padding: 1px 1px;
        border-radius: 5px;
        height: 20px;
        width: 15px;
        box-sizing: border-box;
      }
      svg:hover {
        background-color: #60687940;
      }
      svg:active {
        background-color: #60687940;
        transform: scale(0.8);
      }
    }
  }
}
input,
textarea {
  color: var(--text-color);
  background: #292e3b62;
  border: 2px solid #424755d5;
  padding: 0rem 0.5rem;
  width: 100%;
  
  transition: border 0.1s ease;
  box-sizing: border-box;
}
input {
  height: 25px;
}
input:focus,
textarea:focus {
  border: 2px solid #545c72ef;
  outline: none;
}

textarea {
  grid-row: span 2;
  resize: none;
  padding-top: 0.5rem;
  font-size: 0.7rem;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
  box-sizing: border-box;
}

.post-input-options {
  grid-row: span 2;
  display: grid;
  font-size: 0.9rem;
  height: 100%;
  button:not(.cancel-post-btn) {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.3rem 1rem;
    justify-self: end;
    margin-top: 0.5rem;
  }

  button:hover:not(.cancel-post-btn) {
    background-color: #007acc;
  }

  button:active:not(.cancel-post-btn) {
    transform: scale(0.9);
    background-color: #005f8c;
  }
}

.publish-btn-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-items: center;
  gap: 0.3rem;
  justify-content: space-between;

  p {
    font-size: 0.8rem;
    color: var(--text-color);
  }
}

.cancel-post-btn {
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0.3rem 1rem;
  justify-self: end;
  margin-top: 0.5rem;
}

.cancel-post-btn:hover {
  background-color: #c7d0d6;
  color: #0065a8;
}

button:active {
  transform: scale(0.9);
}

.post-btns-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}



@media (max-width: 570px) {
  .profile-sections-container {
    max-height: 1000px;
    height: 670px;
  }
  .profile-posts {
    display: grid;

    form {
      width: 100%;
      height: 100%;
      margin-bottom: 1rem;
    }
    .myPosts-container {
      width: 100%;
      max-width: 100%;
      height: 300px;
      max-height: 300px;

      .post {
        .content {
          font-size: 0.8rem;
        }
      }
    }
  }
}